*{  margin: 0;  padding: 0;  }
body { /* font-family: Michroma, serif;  */
    background: linear-gradient(90deg, rgb(104, 211, 142), rgb(180, 211, 191));
}

p {text-indent: 20px; padding-left: 30px; padding-right: 50px; font-size: 21px;}
h2 {text-indent: 20px; padding-top: 25px; text-align: center;}
pre{padding-left: 30px; padding-right: 50px; font-size: 18px;}
